<div class="page_footer">
    <a href="/contact" class="footer_pin_drop"></a>
    <div class="footer_text_area">
        <div class="footer_logo"></div>
        <div class="footer_address">
            <p><a href="#">100 Hamilton St.<br>Washington, Pa 15301</a></p>
            <p><a href="tel:7242282231">724-228-2231</a></p>
            <p><a href="mailto:contact@atlanticnitrogen.com">contact@atlanticnitrogen.com</a></p>
        </div>
        <a href="#" class="women_owned"></a>
        <div class="footer_row_text" id="footer_row1">
            <a href="/"><h2>Home</h2></a>
            <a href="about"><h2>About</h2></a>
            <a href="gallery"><h2>Gallery</h2></a>
        </div>
        <div class="footer_row_text" id="footer_row2">
            <a href="feed"><h2>Latest News</h2></a>
            <a href="services"><h2>Services</h2></a>
            <a href="nitrogen-tubes"><h2>N2 Delivery</h2></a>
        </div>
        <div class="footer_row_text" id="footer_row3">
            <a href="about#careers"><h2>Careers</h2></a>
            <a href="contact"><h2>Contact</h2></a>
            <a href="https://goo.gl/maps/Zrn1wvDJLDP2" target="#"><h2>Map</h2></a>
        </div>
        <div class="footer_row_text" id="footer_row4">
            <p>Certified:</p>
            <a href="#"><p>Women Owned Small Business</p></a>
            <a href="#"><p>DOT</p></a>
            <a href="#"><p>HAZMAT</p></a>
            <a href="#"><p>Veriforce</p></a>
            <a href="#"><p>NCCER</p></a>
            <a href="#"><p>ISNetworld</p></a>
            <a href="#"><p>ISTC</p></a>
        </div>
    </div>
</div>