<div class="full_context_menu">
    <a class="logo_white" href="/"></a>
    <a class="exit" id="drop_down_menu-exit"></a>
    <h1 class="context_text">Site Navigation</h1>
    <div class="sub_menu" id="sub_menu1">
        <a href="/">
            <h2>Home</h2>
        </a>
        <a href="/about">
            <h2>About us</h2>
        </a>
        <a href="/gallery">
            <h2>Gallery</h2>
        </a>
    </div>
    <div class="sub_menu" id="sub_menu2">
        <a href="/about#careers">
            <h2>Careers</h2>
        </a>
        <a href="/contact">
            <h2>Contact</h2>
        </a>
        <a href="https://goo.gl/maps/Zrn1wvDJLDP2" target="#">
            <h2>Map</h2>
        </a>
    </div>
    <div class="sub_menu" id="sub_menu3">
        <a href="/services">
            <h2>Services</h2>
        </a>
        <a href="/testing">
            <h2>Testing</h2>
        </a>
        <a href="/nitrogen-tubes">
            <h2>N2 Delivery</h2>
        </a>
    </div>
    <div class="sub_menu" id="sub_menu4">
        <a href="/contact#contact_area">
            <h2>Request a Quote</h2>
        </a>
        <a href="/feed">
            <h2>Latest News</h2>
        </a>
    </div>
    <div class="footer">
        <p>© 2024, Atlantic Nitrogen & Testing, LLC</p>
        <ul>
            <li>Address: <a href="https://goo.gl/maps/Zrn1wvDJLDP2" target="_blank">100 Hamilton St. Washington, Pa
                    15301</a></li>
            <li>Phone: <a href="tel:7242282231">724-228-2231</a></li>
            <li>Fax: <a href="tel:7242282237">724-228-2237</a></li>
            <li>Email: <a href="mailto:contact@atlanticnitrogen.com">contact@atlanticnitrogen.com</a></li>
        </ul>
        <ul>
            <li>Women Owned Small Business</li>
            <li>Department of Transportation</li>
            <li>Veriforce</li>
            <li>NCCER</li>
            <li>ISTC</li>
        </ul>
    </div>
</div>