<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />

	<title>{{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicons/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicons/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicons/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/images/favicons/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ 'assets/images/favicons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/body_style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/gallery_style.css' | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/request_a_quote_style.css' | relative_url }}">
	
    <link href="https://fonts.googleapis.com/css?family=Manjari:300,400,500,600,700" rel="stylesheet">

    <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.visible.min.js' | relative_url }}"></script>

    <script src="{{ 'assets/js/site_script.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/gallery_script.js' | relative_url }}"></script>
</head>

<body>
	{% include components/header.html %}

    {% include components/full_context_menu.html %}

	<div class="gallery_page_content">
		<div class="image-gallery" id="images">
            <span style="display:none">{% increment i %}</span>
            {% for image in site.static_files %}
                {% if image.path contains "images/gallery" %}
                    <img class="gallery-image" src="{{ image.path }}" id="photo_{{ i }}" loading="lazy">
                    <span style="display:none">{% increment i %}</span>
                {% endif %}
            {% endfor %}
        </div>

		<div class="image-fullscreen">
			<img class="inner-screen">

			<div class="exit-button"><a id="image-fullscreen-exit">✖</a></div>
			<div class="left-arrow"></div>
			<div class="right-arrow"></div>

			<div id="grey-area"></div>
		</div>
	</div>

	{% include components/footer.html %}
</body>
</html>