<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include index_head.html %}

<body>
    {% include components/header.html %}

    {% include components/full_context_menu.html %}
    
	<!-- <div class="bg_watermark"></div> -->

	<div class="homepage_splash_screen">
		<!-- <image class="bg_image" src="images/homepage/homepage_splash.jpg"> -->
		<span class="bg_image" id="homepage_splash_image"></span>

		<div class="splash_screen_heading">
			<div class="logo">
				<image src="assets/images/logo/ANT_Vector_logo.svg">
			</div>
			<div class="arrow"></div>
		</div>
	</div>

	<div class="homepage_content">
		<h3 class="content_header" id="company_header">
			<strong style="font-style: italic;">Precision Pipeline Services, Securing America's Infrastructure<br></strong><br>
			Explore our comprehensive <strong>pressure testing solutions</strong>, <strong>pumping services</strong>, and <strong>nitrogen delivery</strong> services to ensure safety and efficiency in various industrial applications.</h3>
		<div class="content_description" id="company_description">
			<p>At Atlantic Nitrogen and Testing, we excel in three key capabilities.</p> 
			<p>1). Our <strong><a href="/testing">pipeline testing services</a></strong> ensure the integrity and safety of pipelines through rigorous assessments and advanced testing methods.</p>
			<p>2). Our <strong><a href="/services">cryogenic nitrogen pumping</a></strong> expertise allows us to provide efficient and precise solutions for purging, pressure testing, and inerting applications, meeting the highest industry standards.</p>
			<p>3). Our reliable <strong><a href="/nitrogen-tubes">nitrogen delivery</a></strong> service ensures timely and seamless supply of nitrogen for various industrial needs, supporting critical operations with unparalleled efficiency and expertise.</p>
			<p style="float: right;"><strong><a href="about">Continue Reading ➤</a></strong></p>
		</div>

		<div class="section_heading" id="nitserv_heading">
			<h5>Industrial Liquid Nitrogen for hire</h5>
			<h1>Testing and Services</h1>
		</div>
		<div class="section_picture" id="nitserv_picture"></div>

		<div class="box_grid">
			<a href="testing" class="section_box" id="nitserv_box1">
				<h5>Service 001</h5>
				<h4>Nitrogen Testing</h4>
			</a>
			<a href="testing" class="section_box" id="nitserv_box2">
				<h5>Service 002</h5>
				<h4>Hydrostatic Testing</h4>
			</a>
			<a href="services" class="section_box" id="nitserv_box3">
				<h5>Service 003</h5>
				<h4>Pigging</h4>
			</a>
			<a href="services" class="section_box" id="nitserv_box4">
				<h5>Service 004</h5>
				<h4>Drying / Packing / Purging</h4>
			</a>
			<a href="services" class="section_box" id="nitserv_box5">
				<h5>Service 005</h5>
				<h4>Pipeline Maintenance</h4>
			</a>
			<a href="feed" class="section_box" id="nitserv_box6">
				<h5>Service XXX</h5>
				<h4>See more applications</h4>
			</a>
		</div>

		<div class="wide_picture">
			<img src="assets/images/homepage/pumper.png" 
			height="auto" width="100%" style="visibility: hidden;">
			<h1>Cryogenic Nitrogen Pumping</h1>
		</div>
		<div class="wide_picture_description">
			<p>Atlantic Nitrogen Pumping Services provides cost-effective nitrogen for any size job small or large. Our 720K pump trucks can be taken to the most remote locations in the US. Our expert drivers and operators, provide safe reliable services to you the customer.</p>
			<h4 class="continue_reading"><a href="services">Find out more...</a></h4>
		</div>

		<div class="feed_heading" id="tube_trailer">
			<img src="assets/images/feed/tube_trailer.jpg">
			
			<h5>Nitrogen Delivery Services</h5>
			<h1>Nitrogen Tube Trailer Rental</h1>
		</div>
		<div id="tubes_desc">
			<p>Atlantic Nitrogen has tube trailers available for rental in a variety of sizes. Ranging from 21,000 cubic feet to 81,000 cubic feet, we have trailers available to fit your job.</p>
			<p>All tube trailers come standard with:</p>
			<ul>
				<li>150 feet of hoses with NPT (National Pipe Thread) connection</li>
				<li>N<sup>2</sup> Regulator included.</li>
				<li>DOT certified</li>
				<li>Rental Options: Weekly or Monthly</li>
				<li>Various sizes and volumes ranging from 21,000 ft<sup>3</sup> to 81,000 ft<sup>3</sup></li>
			</ul>
			<h4 class="continue_reading"><a href="/nitrogen-tubes">More Information about tube trailer rentals ➤</a></h4>
		</div>

		<div class="section_heading" id="experience_heading">
			<h5>A history of reliability</h5>
			<h1>Trusted Experience</h1>
		</div>
		<div class="section_picture" id="experience_picture"></div>

		<div class="content_description" id="experience_description">
			<p>Atlantic Nitrogen Pumping Services is the industry leader when it comes to <strong>up-to-date equipment, expert operators, and safety compliance</strong>. We act in accordance with all industry standards and go above and beyond when it comes to safety. Atlantic understands the inherent dangers present in compressed nitrogen and working in the oil field, so we take every precaution necessary to mitigate risk.</p>
			<p>With trusted expertise since 2011, we've been reliably delivering top-notch solutions tailored to our clients' needs, ensuring their peace of mind and project success. Our track record speaks volumes, showcasing our unwavering commitment to excellence and customer satisfaction over the years.</p>
		</div>

		<div id="latest">
			<h1 style="color:var(--primary-color)">Latest news and from Atlantic Nitrogen and the industry</h1>
			<div>
				{% for feed in site.feed limit:3 %}
					<div class="three_block_heading" id="{{ feed.id }}">
						<div class="block1">
							<h5>Topic {{ forloop.index }} : {{ feed.id }}</h5>
						</div>
						{% if feed.image != null and feed.image != "" %}
							<div class="block2" style="background: url('/assets/images/feed/{{ feed.image }}') top center no-repeat;">
							</div>
						{% else %}
							{% if feed.category == "" or feed.category == null %}    
								<div class="block2" style="background: url(/assets/images/about/about_page_splash.jpg) top center no-repeat;">
								</div>    
							{% else %}
								<div class="block2" style="background: url('/assets/images/feed/categories/{{ feed.category }}.jpg') top center no-repeat;">
								</div>    
							{% endif %}
						{% endif %}
						<div class="block3">
							<h1><a href="{{ feed.id }}">{{ feed.title }}</a></h1>
							<h3><a href="{{ feed.id }}">Learn More ➤</a></h3>
							<div class="block3_content">
								<p>{{ feed.content }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<h2 style="background-color:var(--secondary-color); text-align: right;"><a href="feed" style="color:white;margin: 10px">Keep up with the latest in the oil and gas industry ➤</a></h2>
			<div class="content">
				<div id="content" style="margin-left: 0; margin-right: 0;">
					<ul>
						{% for feed in site.feed limit:20 %}
							{% if feed.id != page.id and (page.category == null or page.category == "" or feed.id contains page.category) %}
								<li><a href="{{ feed.id }}">{{ feed.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>


		
		{% include components/contact_form.html %}
	</div>

    {% include components/footer.html %}
</body>

</html>