<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />

	<title>{{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicons/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicons/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicons/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/images/favicons/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ 'assets/images/favicons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/body_style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/service_style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/default_style.css' | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/request_a_quote_style.css' | relative_url }}">
	
    <link href="https://fonts.googleapis.com/css?family=Manjari:300,400,500,600,700" rel="stylesheet">

    <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.visible.min.js' | relative_url }}"></script>

    <script src="{{ 'assets/js/site_script.js' | relative_url }}"></script>
</head>

<body>
	{% include components/header.html %}
    {% include components/full_context_menu.html %}

	<!-- <div class="bg_watermark"></div> -->

	<div class="service_page_content">
		<div class="feed_heading">
			<img src="{{ page.image }}">
			
			<h1>{{ page.title }}</h1>
		</div>

        <h1>Nitrogen Tube Trailer Rentals</h1>

		<h2>Tube Trailer options available</h2>
		<p>Atlantic Nitrogen has tube trailers available for rental in a variety of sizes. Ranging from 21,000 cubic feet to 81,000 cubic feet, we have trailers available to fit your job.</p>
        <p>All tube trailers come standard with:</p>
        <ul>
            <li>150 feet of hoses with NPT (National Pipe Thread) connection</li>
            <li>N<sup>2</sup> Regulator included.</li>
            <li>DOT certified</li>
            <li>Rental Options: Weekly or Monthly</li>
            <li>Various sizes and volumes ranging from 21,000 ft<sup>3</sup> to 81,000 ft<sup>3</sup></li>
        </ul>

        <div class="content">
			<div id="content" style="margin-left: 0; margin-right: 0;">
				<h1>Find out more of our nitrogen delivery services</h1>
				<ul>
					{% for feed in site.feed limit:20 %}
						{% if feed.id != page.id and (page.category == null or page.category == "" or feed.id contains page.category) %}
							<li><a href="{{ feed.id }}">{{ feed.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	{% include components/contact_form.html %}
    {% include components/footer.html %}
</body>
</html>