<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />

	<title>{{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicons/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicons/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicons/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/images/favicons/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ 'assets/images/favicons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/body_style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/service_style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/default_style.css' | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/request_a_quote_style.css' | relative_url }}">
	
    <link href="https://fonts.googleapis.com/css?family=Manjari:300,400,500,600,700" rel="stylesheet">

    <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.visible.min.js' | relative_url }}"></script>

    <script src="{{ 'assets/js/site_script.js' | relative_url }}"></script>
</head>

<body>
	{% include components/header.html %}
    {% include components/full_context_menu.html %}

	<!-- <div class="bg_watermark"></div> -->

	<div class="service_page_content">
		<div class="feed_heading">
			<img src="{{ page.image }}">
			
			<h1>{{ page.title }}</h1>
		</div>

		<p>At Atlantic Nitrogen and Testing, we stand at the forefront of pipeline <strong>integrity testing</strong>, leveraging 
            cutting-edge technology and unparalleled expertise to ensure the safety and reliability of pipelines across industries. With a meticulous 
            approach, we conduct comprehensive assessments, employing advanced methods such as <strong>hydrostatic testing</strong>, <strong>nitrogen testing</strong>, and <strong>ultrasonic leak detection</strong>. 
            Our team of seasoned professionals meticulously analyzes every aspect of pipeline infrastructure, identifying potential weaknesses and vulnerabilities to preemptively address any issues.</p> 
            <p>Through our dedication to excellence and commitment to safety, Atlantic Nitrogen and Testing provides clients with the assurance of robust, secure pipeline systems, safeguarding communities and the environment alike.</p>

		<h2>What is testing?</h2>
		
		<p>Pipeline testing is the process in which an inert gas (such as Nitrogen) or water is used to pressurize a section of pipe to the maximum allowable operating pressure (MAOP) and checked for integrity. Integrity testing typically lasts from 4 to 8 hours depending on the visibility of the pipeline and industry standards. Within that time window, the pressure is held at a constant and the pipeline is checked for leaks.</p>
		<p>Atlantic is able to handle every step of the testing process eliminating the logistical supply chain and efficiently test pipelines.</p>
		
		<h1>Services Provided:</h1>

		<div class="three_block_heading" id="pressure_testing">
			<div class="block1">
				<h5>Service 001: Pressure Testing</h5>
			</div>
			<div class="block2" style="background: url(assets/images/homepage/testing_setup.jpg) center center no-repeat;">
			</div>
			<div class="block3">
				<h1>Pressure Testing</h1>
				<p>
                    Pipeline integrity pressure testing assesses the <strong>safety and structural soundness</strong> of pipelines by subjecting them to controlled pressure, often with water or inert gases like nitrogen. This method <strong>detects weaknesses, leaks, and potential points of failure</strong>, allowing engineers to pinpoint vulnerabilities and ensure <strong>compliance</strong> with industry standards. Proactively maintaining pipelines through rigorous testing helps prevent catastrophic failures, safeguard the environment, and protect communities. Advanced technologies and testing protocols ensure the reliability and longevity of vital infrastructure, promoting safety and confidence in interconnected systems.</p>
			</div>
		</div>

		<div class="three_block_heading" id="pigging">
			<div class="block1">
				<h5>Service 002: Hydrostatic Testing</h5>
			</div>
			<div class="block2" style="background: url(assets/images/homepage/de-watering_small.jpg) top center no-repeat;">
			</div>
			<div class="block3">
				<h1>Hydrostatic Testing</h1>
				<p>Hydrostatic testing involves filling the pipeline with water and pressurizing it to a specified level, typically 1.5 times the maximum operating pressure, for a set duration. This test evaluates the pipeline's ability to withstand pressure and detects leaks or weaknesses. Since water is incompressible, any expansion or deformation of the pipeline can be more easily detected. Hydrostatic testing is generally considered safer because water is non-flammable and poses a lower risk of explosion compared to other testing mediums.</p>
			</div>
		</div>

		<div class="three_block_heading" id="drying">
			<div class="block1">
				<h5>Service 003: Nitrogen Testing</h5>
			</div>
			<div class="block2" style="background: url(assets/images/homepage/well_stimulation_small.jpg) top center no-repeat;">
			</div>
			<div class="block3">
				<h1>Nitrogen Testing</h1>
                <p>Choosing nitrogen testing over hydrostatic testing may be preferable for several reasons:</p>
                <ol>
                    <li>Nitrogen testing is suitable for pipelines prone to <strong>corrosion or degradation</strong>, eliminating the risk of damage associated with exposure to water during hydrostatic testing.</li>
                    <li>Nitrogen testing typically requires <strong>less time</strong> than hydrostatic testing, making it more <strong>efficient</strong> for projects with tight schedules or when minimizing downtime is crucial.</li>
                    <li>By avoiding the use of water, nitrogen testing minimizes <strong>environmental impact</strong>, reducing the potential for <strong>contamination or ecological harm</strong> in sensitive areas.</li>
                    <li>Nitrogen testing <strong>enhances safety</strong> by eliminating the need to handle large volumes of water, reducing the risk of accidents related to water handling, and nitrogen being non-flammable and non-toxic.</li>
                    <li>The inert nature of nitrogen allows for <strong>precise detection of smaller leaks</strong> without water interference, resulting in <strong>more accurate results</strong>, particularly in systems with intricate configurations.</li>
                </ol>
				</div>
		</div>

		<div class="three_block_heading" id="well_stimulation">
			<div class="block1">
				<h5>Service 004: Advanced equipment</h5>
			</div>
			<div class="block2" style="background: url(assets/images/homepage/safer_alternative.jpg) top center no-repeat;">
			</div>
			<div class="block3">
				<h1>Advanced recording equipment</h1>
				<p>Advanced recording equipment for pressure testing includes <strong>redundant gauges</strong> to provide backup measurements, ensuring <strong>reliability and accuracy</strong> even in case of gauge failure. Additionally, this equipment is <strong>regularly calibrated</strong> to maintain precision and consistency in pressure readings. With <strong>high accuracy sensors</strong> and data recording capabilities, these tools capture detailed information crucial for assessing pipeline integrity with utmost confidence and precision.</p>
			</div>
		</div>

		<!-- <div class="three_block_heading" id="pipe_maintenance">
			<div class="block1">
				<h5>Service 005: Pipeline Maintenance</h5>
			</div>
			<div class="block2" style="background: url(assets/images/homepage/pipeline_maintenance_small.jpg) top center no-repeat;">
			</div>
			<div class="block3">
				<h1>Pipeline Maintenance</h1>
				<p></p>
			</div>
		</div> -->

		<h1>Presure Testing Equipment</h1>

		<h2>Barton 12" Dual Pin Chart Recorder</h2>
		<p>An industry standard for years. The Barton Chart recorder is an analog histogram recorder which measures pressure and temperature on a 24 hour chart.</p>

		<h2>Crystal nVision Digital Data Logger</h2>
		<p>We use both the digital and the analog recorders simultaneously in order to ensure the safe and acurate logging of data. The digital sensor also has much more precise instruments to accuately measure pressure and temperature compared to the Barton recorder.</p>

		<h2>Analog Deadweight</h2>
		<p>While the digital pressure meters have replaced much of the need for deadweights, certain standards call for an analog deadweight to be used in a test. Atlantic has all of the equipment necessary to handle those needs.</p>
		
		<h1>Meters and Gauges</h1>

		<h2>Badger Flow Meter</h2>
		<p>Used in hydro testing, the badger flow meter can accurately measure the amount of water put into a system. These meters are rated to function at high pressures compared to stroke counters which only can be used with static pressure.</p>
		
		<h2>Defelsko Dew Point Meter</h2>
		<p>Once the system has been tested and all of the medium taken out, all of the moisture present in the system must be taken out so that live product may be put in. To measure the moisture levels in a pipe, we use the dew point meter which can measure down to -100°F relative humidity.</p>
	</div>

	{% include components/contact_form.html %}
    {% include components/footer.html %}
</body>
</html>